body {
  font-family: Verdana, sans-serif;
  font-size: 0.9em;
}
header {
  height: 75px;
  vertical-align: bottom;
  margin-top: 0;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
header ul li {
  text-align: center;
  width: 75px;
  border-radius: 7px;
  float: left;
  list-style: none;
}
header ul li:hover {
  background-color: red;
}
svg {
  width: 45px;
  height: 45px;
}
.logo {
  margin: 10px;
  width: 65px;
  height: 65px;
  float: left;
  border-radius: 45px;
}
.search-box {
  float: left;
}
.search-box input {
  border-radius: 15px;
  width: 250px;
  height: 25px;
  padding: 5px 10px;
  font-size: 1.2em;
  background-color: aliceblue;
}
.left {
  width: 40%;
}
sidebar {
  width: 30%;
  float: left;
  background-color: lightsteelblue;
  min-height: 700px;
}
sidebar ul {
  padding: 0 5px;
}
sidebar ul li {
  height: 25px;
  font-size: 1.1em;
  list-style: none;
  margin: 5px;
  padding: 5px;
  background-color: aliceblue;
  border-radius: 10px;
}
sidebar ul li:hover {
  background-color: aquamarine;
}
content {
  width: 70%;
  min-height: 700px;
  background-color: lightskyblue;
  float: left;  
}
.card {
  padding: 5px 15px;
  margin: 15px 35px;
  background-color: aquamarine;
  border-radius: 15px;
}
.header-card {
    height: 85px;
    padding: 5px;
    display: flex;
    align-items: center;
}
.header-card img {
    width: 75px;
    height: 75px;
    border-radius: 35px;
    float: left;
}
.header-card h3 {
    float: left;
    margin-left: 15px;
    padding: 5px;
}
.content-card {
    background-color: aliceblue;
    padding: 10px 15px;
    border-radius: 15px;
}
